@import url("../../assets/components/audioplayer/css/audioplayer.css");

/* jqxGrid */

.jqx-fill-state-pressed {
  background: #a4a6e0 !important;
}

.messages--grid-wrapper {
  width: 100%;
  height: 50%;
  background-color: transparent;
}

.messages--grid-notes-wrapper {
  width: 100%;
  height: 45%;
  background-color: transparent;
  overflow: auto;
}

.note {
  margin: 5px;
  padding: 5px;
  background-color: #dcf8c6;
  border-radius: 7.5px;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}

.messages--grid-notes-note-send-wrapper {
  width: 100%;
  height: 5%;
  background-color: transparent;  
  overflow-x: hidden;
  overflow-y: auto;
}