<div class="messages--grid-wrapper" (window:resize)="onResize($event)">
  <jqxGrid #messagesGrid
    [width]="'100%'"
    [height]="'100%'"
    [source]="messagesDataAdapter"
    [columns]="messagesColumns"
    [pageable]="false"
    [altrows]="true"
    [enabletooltips]="true"
    [editable]="true"
    [editmode]="'dblclick'"
    [rowdetails]="true"
    [rowsheight]="35"   
    [ready]="readyMessagesGrid"   
    [showstatusbar]="true"
    [renderstatusbar]="createMessagesButtonsContainers"   
    [filterable]="true"
    [sortable]="true"
    [columnsresize]="true"
    [autoshowfiltericon]="true"
    [filtermode]="'excel'"
    (onRowselect)="messagesGridOnRowSelect($event)">
  </jqxGrid>
</div>

<div class="messages--grid-notes-wrapper">
  <h4>Обсуждения:</h4>
  <div *ngFor="let note of currentMessageNotes" class="note"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50">
    <div style="display: table; width: 100%;">
      <div style="display: table-row;">
        <p style="margin: 5px; font-weight: 500; color: black;">{{ note.note_text }}</p>
      </div>
      <div style="display: table-row;">
        <div style="display: table-cell; width: 20%;">
          <p style="margin: 5px; font-weight: 700; color: gray;">{{ note.employee }}</p>
        </div>
        <div style="display: table-cell; width: 80%;" align="right">
          <p style="margin: 5px; font-weight: 700; color: #113ff1;">{{ note.dt | date: 'dd.MM.yyyy HH:mm' }}</p>
        </div>
      </div>
    </div>
  </div>  
</div>

<div class="messages--grid-notes-note-send-wrapper">
  <div style="display: table; width: 100%; height: 100%;">
    <div style="display: table-row;">
      <div style="display: table-cell; width: 94%;">
          <div style="height: 100;">
            <jqxInput
              style="margin: 5px;"
              (keyup.enter)="addNote()"
              [width]="'100%'"
              [height]="40"
              [disabled]="!currentMessage"
              [(ngModel)]="newNoteText">
            </jqxInput>
          </div>
      </div>
      <div style="display: table-cell; width: 6%;" align="right">
        <jqxButton
          style="margin: 5px;"
          (onClick)="addNote()"
          [width]="40"
          [height]="40"
          [disabled]="!currentMessage">
          <i class="fas fa-arrow-alt-circle-right"></i>
        </jqxButton>
      </div>
    </div>
  </div>  
</div>


<jqxWindow #messagesFindDialog
  [width]="210"
  [height]="180"
  [autoOpen]="false"
  [resizable]="false">
  <div>Поиск</div>
  <div style="overflow: hidden">
    <div style="margin-top: 7px; clear: both">Поле:</div>
    <div style="margin-top: 5px">
      <jqxDropDownList #messagesFindDialogDropDownList
        [width]="200"
        [height]="23"
        [selectedIndex]="0" 
        [source]="dropDownSource"
        [autoDropDownHeight]="true">
      </jqxDropDownList>
    </div>
    <div>Значение:</div>
    <div style="margin-top: 5px">
      <jqxInput #messagesFindDialogInput
        [width]="194"
        [height]="23">
      </jqxInput>
    </div>
    <div>
    <jqxButton style="margin-top: 15px; margin-left: 50px; float: left"
      (onClick)="findBtnOnClick()"
      [width]="70">
      Поиск
    </jqxButton>
    <jqxButton style="margin-left: 5px; margin-top: 15px; float: left"
      (onClick)="clearBtnOnClick()"
      [width]="70">
      Очистить
    </jqxButton>
    </div>
  </div>
</jqxWindow>
